@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import 'tailwindcss';

@theme {
  --font-barlow: "Barlow", sans-serif;
  --font-fraunces: "Fraunces", serif;

  --color-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 49%);
  --color-green-graphic: hsl(167, 40%, 24%);
  --color-blue: hsl(198, 62%, 26%);
  --color-green-footer: hsl(167, 34%, 41%);

}

html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}